
body{
    border: solid 1px red;
    margin: 0px;
    font-family: "big shoulders text", "sans-serif";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #FCD7D8;;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px red;
    background-color: #FCD7D8;;
    padding: 0px 30px;
    margin: 0px;

}
.rates{
    background-color: #e9e9e9;
}

.contact{
    background-color: #FCD7D8;
}
.about{
    display:flex;
    background-color: #FCD7D8;
    justify-content: center;
    align-items: center;
    border: solid 1px red;
    margin-top:-90px;
}
.content{
   display:flex;
   flex-direction: column;
   width:400px;
   border: solid 1px red;
}
h1{
    font-size: 35px;
    margin-bottom: -6px;

}

p{
    font-family: "sacramento";
}

.box-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
  
}
.box{
    background-color: #f29c9f;
    width: 40px;
    height: 40px;
    padding: 1px;
    margin: 3px;
    border: solid 1px black;
}
.reserve{
    font-size:13px;
    width: 150px;
    height: 30px; 
    padding: 0px; 
    display:flex;
    justify-content: center;
    align-items: center;
}

footer{
    text-align: center;
    background-color: #f29c9f;
}

ul{
   display: flex;
   gap: 3em;
  border: solid 1px red;
    
}

li{
    list-style: none;
    font-family: "sacramento";
    font-size: 24px;
    font-weight:bold;
}