
body{
    margin: 0px;
    font-family: "big shoulders text", "sans-serif";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #FCD7D8;;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FCD7D8;;
    padding: 0px 30px;
    margin: 0px;

}
.rates{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

}

.contact{
    background-color: #FCD7D8;
}
.about{
    display:flex;
    background-color: #FCD7D8;
    justify-content: center;
    align-items: center;

  
}
.content{
   display:flex;
   flex-direction: column;

}
h1{
    font-size: 35px;
    margin-bottom: -6px;

}

p, h3{
    font-family: "sacramento";
}

.rates-container{
    display:flex;

}
.box-container{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
  
}

.quote{
    text-align: center;
    font-size: 40px;
    background-color: #eee;
}

.box{
    background-color: #f29c9f;
    width: 150px;
    height:150px;
    padding: 1px;
    margin: 0px 30px;
    border: solid 1px black;
    border-radius: 10%;
}
.reserve{
    font-size:13px;
    width: 150px;
    height: 30px; 
    padding: 0px; 
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: "big shoulders text", "sans-serif";
}

footer{
    background-color: #f29c9f;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
#foot-paw{
    margin-top: -20px;
    margin-bottom: 5px;
}
ul{
   display: flex;
   gap: 3em;

    
}

li{
    list-style: none;
    font-family: "sacramento";
    font-size: 24px;
    font-weight:bold;
}